.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.editor-container {
  margin: 20px auto;
  width: 80%;
}

.editor-wrapper {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: white;
  min-height: 800px; /* Tamaño del área del editor como una hoja de Word */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.preview-btn, .save-btn {
  background-color: transparent;
  border: 2px solid #007bff;
  color: #007bff;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.preview-btn:hover, .save-btn:hover {
  background-color: #007bff;
  color: white;
}

.preview-btn svg, .save-btn svg {
  margin-right: 8px;
}
